*, 
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
h3{
    color: white;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.text-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

img{
    max-width: 300px;
    max-height: 300px;
    animation: catAnimation infinite linear;
    animation-duration: 2s;
    animation-delay: 0s;
}

img:hover{
    zoom: 130%;
}

a{
    color: white;
}

a:hover{
    text-decoration: underline;
}

@keyframes catAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}